body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
/* Video bg */
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

/* Barre de navigation */
.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1c23ac;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 11px 12px -2px rgba(0, 0, 0, 0.26);
}

/*  titres */
h1 {
    color: #ffffff;
    backdrop-filter: blur(10px);
}

/* le formulaire */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 400px; /* Adjust as needed */
    width: 100%;
}

/* Étiquettes des champs du formulaire */
label {
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    text-align: left;
    width: 100%;
}

/*  champs de saisie */
input {
    padding: 8px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 6px;
}

/* bouton du formulaire */
button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* bouton du formulaire */
button:hover {
    background-color: #0056b3;
}
