body {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0; 
    background-size: cover;
    background-position: center;
    background-image: url('../assets/bgcolor.jpeg');
    overflow: hidden;
}

nav {
    background-color:#1c23ac;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    box-shadow: 0px 11px 12px -2px rgba(0, 0, 0, 0.26);
}

nav a {
    cursor: pointer;
}

.logo img {
    width:150px;
    margin: 0;
    padding: 0;

}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-links li {
    margin-right: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
}

h1{
    color:#ffffff;
    backdrop-filter: blur(10px);
}

form {
    display: flex;
    margin: 1px;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
#myform
{
    
    backdrop-filter: blur(8px);
}
label {
    padding: 10px;
    margin-right: 200px;
    margin-bottom: 10px;
    color: #fff;
  
}


input {
    padding: 8px;
    margin-bottom: 15px;
    width:250px;
    border-radius: 6px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    width: 250px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


@media only screen and (max-width: 425px) {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;

    }

 }
