body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  #container {
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
    text-align: justify;
    letter-spacing: 1px;
    color: white;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 600px; /* Adjust as needed */
    width: 100%;
    box-sizing: border-box;
  }
  
  audio {
    width: 100%;
    margin-top: 10px;
  }
  
  /* Desktop */
  @media only screen and (min-width: 1024px) {
    #container {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  
  /* Tablet */
  @media only screen and (min-width: 600px) and (max-width: 1023px) {
    #container {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  
  /* Mobile */
  @media only screen and (max-width: 599px) {
    #container {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  