* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
background-color: #cdc7c7;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar Styles */
nav {
    background-color: #1cac90;
    color: #fff;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 11px 12px -2px rgba(0, 0, 0, 0.26);
}
a{
    text-decoration: none;
}

nav a {
    cursor: pointer;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
}

header {
    text-align: center;
    color: #141313;
}

h1 {
    font-size: 2em;
    margin-bottom: 40px;
    padding-top: 10%;
    color: #fff;
    backdrop-filter: blur(4px);
    text-align: center;
    
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
    backdrop-filter: blur(8px);
   
}

.bts {
    display: center;
}

.content {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    border-radius: 10px;
    margin: 0 auto;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
}

/* Presentation */
/* Mobile-first */
.grid-container {
    display: grid;
    aspect-ratio: 1 / 1;
}
                        
figcaption{
    cursor: pointer;
}

.grid-item figure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.grid-item figcaption {
    z-index: 2;
    position: absolute;
    color: rgb(249, 249, 17);
    font-weight: 800;
    text-transform: uppercase;
    backdrop-filter: blur(4px);
    font-size: 1.6rem;
    padding: 10px;
}

.grid-item img {
    padding: 30px;
    text-align: center;
    height: 70%;
    width: 70%;
    filter: drop-shadow(1px 1px 10px #1cac8f65);
    border-radius: 10px;
    aspect-ratio: 1 / 1;
}



@media only screen and (min-width: 425px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        
    }
}
